<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- project name column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Timesheets </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>


  <!-- Backward column  -->
  <ng-container matColumnDef="backward">
      <mat-header-cell *matHeaderCellDef><button mat-button>backward</button></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
  <!-- Forward column  -->
  <ng-container matColumnDef="forward">
    <mat-header-cell *matHeaderCellDef> <button mat-button>forward</button> </mat-header-cell>
    <mat-cell *matCellDef="let row"></mat-cell>
  </ng-container>

  <!-- Day 1 column  -->
  <ng-container matColumnDef="day1">
    <mat-header-cell *matHeaderCellDef> Day 1 </mat-header-cell>
    <mat-cell *matCellDef="let element"> <mat-card *ngIf="element.day1">{{ element.day1 }} </mat-card></mat-cell>
  </ng-container>

  <!-- Day 2 column  -->
  <ng-container matColumnDef="day2">
    <mat-header-cell *matHeaderCellDef> Day 2 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.day2 }} </mat-cell>
  </ng-container>

  <!-- Day 3 column  -->
  <ng-container matColumnDef="day3">
    <mat-header-cell *matHeaderCellDef> Day 3 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.day3 }} </mat-cell>
  </ng-container>

  <!-- Day 4 column  -->
  <ng-container matColumnDef="day4">
    <mat-header-cell *matHeaderCellDef> Day 4 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.day4 }} </mat-cell>
  </ng-container>

  <!-- Day 5 column  -->
  <ng-container matColumnDef="day5">
    <mat-header-cell *matHeaderCellDef> Day 5 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.day5 }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="groupHeader">
    <mat-cell *matCellDef="let projectGroup">{{projectGroup.name}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </mat-row>

</mat-table>