<mat-toolbar color="primary">

  <a mat-button [routerLink]="['/mainpage']" [disabled]="!user">
    Home
  </a>

  <a mat-button [routerLink]="['/dashboard']" [disabled]="!user">
    Dashboard
  </a>

  <span class="example-spacer"></span>

  <div *ngIf="user">
    <section class="mat-typography">
        Hello, {{user.first}}!
        <button mat-button (click)="logout()">
          Logout
        </button>
    </section>
  </div>

  <div *ngIf="!user">
    <button mat-button (click)="openLoginDialog()">
      Login
    </button>
    
    <button mat-button (click)="openRegisterDialog()" disabled>
      Register
    </button>
  </div>


</mat-toolbar>