<h2 class="mat-h2 margin-header" *ngIf="user">Project timesheets</h2>

<mat-accordion *ngIf="user">
  <mat-expansion-panel *ngFor="let project of projects | async" (expandedChange)="projectExpanded(project.id, $event)">
    <mat-expansion-panel-header>
      <mat-panel-title class="mat-expansion-panel-header-title">
        <div>{{project.name}}</div>
      </mat-panel-title>
      <mat-panel-description class="mat-expansion-panel-header-description">
        <div>{{project.description}}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list [cols]="this.currentDates.length + 3" rowHeight="40">
      <mat-grid-tile>
        <h4>Tickets / Dates</h4>
      </mat-grid-tile>
      <mat-grid-tile><button mat-button (click)="pivotDateDecrease()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button></mat-grid-tile>
      <mat-grid-tile *ngFor="let date of currentDates">
        <h4>{{date | date: 'dd/MM/yyyy'}}</h4>
      </mat-grid-tile>
      <mat-grid-tile><button mat-button (click)="pivotDateIncrease()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button></mat-grid-tile>
    </mat-grid-list>

    <!--Template to show when the data is not yet loaded-->
    <div *ngIf="!tickets">
      <mat-list *ngFor="let ticket of project.tickets">
        <mat-grid-list [cols]="this.currentDates.length + 3" rowHeight="40">
          <mat-grid-tile>{{ticket.name}}</mat-grid-tile>
        </mat-grid-list>
      </mat-list>
    </div>

    <!--Actual loaded data-->
    <div *ngIf="tickets ">
      <mat-list *ngFor="let ticket of tickets">
        <mat-grid-list [cols]="this.currentDates.length + 3" rowHeight="40">
          <mat-grid-tile>{{ticket.name}}</mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile *ngFor="let timesheet of ticket.timesheets; let i = index">
            <button mat-button (click)="editTimesheet(timesheet, i)">
              <h4 [class.greyed-out]="timesheet.loggedtime === 0">{{timesheet.loggedtime}}<mat-icon *ngIf="timesheet.comment !== ''">chat</mat-icon></h4>
            </button>
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
      </mat-list>
    </div>
    <mat-divider></mat-divider>
    <mat-grid-list [cols]="this.currentDates.length + 3" rowHeight="40">
      <mat-grid-tile>
        <h4>Total:</h4>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile *ngFor="let currentTotal of currentTotals">

        <h4>{{currentTotal}}</h4>

      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>

  </mat-expansion-panel>
</mat-accordion>